#content{
  
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  
  .tema{
    width: 45%;
    margin: 15px;
  }

  .fototema{
      height: 250px;
      transition: all 300ms;
  }

  .fototema:hover{
      transform: scale(1.15);
  }