<ion-header [translucent]="true" >
  <ion-toolbar  color="danger">
    <ion-title>
      SUPER HEROES
    </ion-title>
  </ion-toolbar>


</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Super Heroes</ion-title>
    </ion-toolbar>
    <link rel="stylesheet" href="app.component.scss">
  </ion-header>

  <div id="container">
    <div class="foto">
      <ion-title>GOKU</ion-title>
      <ion-img src="assets/img/goku.jpg" class="fototema"></ion-img>
      <p> «No pienso que esté salvando el mundo. Lo que ocurre es que acudo a cada conflicto por la batalla, lo que ronda por mi mente es derrotar al más fuerte para poder convertirme en el más fuerte.» <a href="goku" class=link>Leer mas...</a> </p>   
    </div>  

    <div class="foto">
      <ion-title>iron man</ion-title>
      <ion-img src="assets/img/iron.jpg" class="fototema"></ion-img>
      ><p> «No pienso que esté salvando el mundo. Lo que ocurre es que acudo a cada conflicto por la batalla, lo que ronda por mi mente es derrotar al más fuerte para poder convertirme en el más fuerte.»<a class href="iron-man" class=link>Leer mas...</a>
      </p>
    </div>

    

    

   
  </div>

  
</ion-content>



