#container{
    
    box-shadow: 0 8px 4px 0 lightskyblue;
    
    float: left;
    display: flex;
    flex-wrap: wrap;
    min-height: 250px;
}
  
.fototema{

      margin: 1px;
      padding: 10px; 
      transition: all 350ms;
      
}
  
.fototema:hover{
      border: 1px;
      transform: scale(1.15);
     
}
  
.foto{
    flex: 1;
    min-width: 300px;
    margin: 10px;
    width: 30%;
    padding: 10px;
   
    
}

  

      
  
  
  
